---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="oscarama | blog">
  <div class="flex flex-col items-center">
    <div class="flex flex-col w-full sm:w-2xl md:w-3xl px-6 pt-18 pb-32">
      <h1 class="text-3xl font-bold">blog | work in progress..</h1>
      <div class="flex flex-col mt-8">
        <a href="/">back home</a>
        <a class="mt-2" href="https://eng.coloop.ai">coloop engineering blog</a>
      </div>
    </div>
  </div>
</Layout>
