---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="oscarama | blog">
  <h1 class="text-3xl font-bold">blog | work in progress..</h1>
  <div class="flex flex-col mt-8">
    <a href="/">back home</a>
    <a class="mt-2" href="https://eng.coloop.ai">coloop engineering blog</a>
  </div>
</PageLayout>
