---
import Layout from "../layouts/Layout.astro";
import IconLink from "../components/IconLink.svelte";

const techStack = [
  { name: "TypeScript", icon: "/techs/typescript.svg" },
  { name: "Bun", icon: "/techs/bun.svg" },
  { name: "Next.js", icon: "/techs/nextjs.svg" },
  { name: "SvelteKit", icon: "/techs/svelte.svg" },
  { name: "Rust", icon: "/techs/rust.svg" },
  { name: "Tailwind", icon: "/techs/tailwindcss.svg" },
  { name: "Python", icon: "/techs/python.svg" },
  { name: "AWS", icon: "/techs/aws.svg" },
];
---

<Layout title="Home - oscarama.dev">
  <div
    class="pointer-events-none absolute z-10 h-full w-screen"
    style="background-size: 64px; background-repeat: repeat; background-image: url('/background-texture.png'); opacity: 0.06;"
  >
  </div>
  <div class="flex flex-col items-center">
    <div class="flex flex-col w-[95%] sm:w-2xl md:w-3xl sm:px-4 pt-16">
      <h1 class="text-3xl font-bold">oscar falemara</h1>
      <div class="flex flex-col mt-8">
        <p class="text-sm text-white/70">
          i'm a self-taught full stack software engineer from 📍London, currently working as a
          full-stack software engineer at
          <IconLink
            href="https://coloop.ai"
            src="/coloop.jpeg"
            alt="coloop ai"
            text="coloop ai"
            client:load
          />
        </p>
      </div>

      <h2 class="text-xl mt-8 sm:mt-12 md:mt-16">some other things I'm working on</h2>
      <ul class="list-['*'] ml-2.5 list-outside text-sm text-white/70 mt-8">
        <li class="pl-2">
          running bouldering events in London @
          <IconLink
            href="https://luma.com/outventuring"
            src="/out-buildering.avif"
            alt="outventuring"
            text="out venturing"
            client:load
          />
        </li>
        <li class="pl-2">
          helping build better community-brand matching @
          <IconLink
            href="https://luma.com/outventuring"
            src="/fanks.png"
            alt="fanks"
            text="fanks"
            client:load
          />
        </li>
      </ul>

      <h2 class="text-xl mt-8 sm:mt-12 md:mt-16">tech that I use</h2>
      <div class="mt-8 grid w-full grid-cols-4 border-l border-t border-white">
        {
          techStack.map((tech) => (
            <div class="group relative flex py-8 items-center justify-center overflow-hidden border-b border-r border-white transition-colors duration-300">
              <img src={tech.icon} alt={tech.name} class="h-8 sm:w-10 w-8 sm:h-10" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
