---
import backgroundTexture from "@/assets/background-texture.png";
---

<div
  class="pointer-events-none fixed h-screen w-screen"
  style={`background-size: 64px; background-repeat: repeat; background-image: url(${backgroundTexture.src}); opacity: 0.06;`}
>
</div>
